body {
    background-color: rgb(103, 202, 235);

}
header{
    background-color: aquamarine;
    padding:30px ;
}
h1, H2{
    font-size: 30px;
    font-weight: bold;
}
main{
    padding: 20px 0; }
li {
    margin: 10px 0;
    padding: 10px 0;
    background-color: aqua ;
    width: 30%;
    text-align: center;


}
a{
    text-decoration: none;

}
